<div class="header--grid-container">
  <div class="header--img">
    <img
      src="https://images.unsplash.com/photo-1549648404-c8d4b2c8ce47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2357&q=80"
      alt=""
    />
  </div>
  <div class="header--profile-img">
    <img src="./assets/profile.jpg" alt="" />
  </div>
  <div class="header--id-text">
    <span class="username">@raulmar</span>
    <span class="user-title">Product developer</span>
  </div>
</div>
