<div class="project--grid-container">
  <div class="project--img">
    <img
      [src]="imgSrc"
      alt=""
    />
  </div>
  <div class="project--name vertical-center">
    <h4>{{title}}</h4>
  </div>
  <div class="project--description vertical-center">
    <p [innerHTML]="description"></p>
  </div>
  <div class="project--thumbnail vertical-center">
    <rm-image>
      <img
        [src]="thumbnailSrc"
        alt=""
      />
    </rm-image>
  </div>
  <div class="project--buttons vertical-center">
    <div *ngFor="let button of buttonsTemplate">
      <button>
        <a [href]="button[1]">{{button[0]}}</a>
      </button>
    </div>
  </div>
</div>
