<div class="projects--grid-container">
  <div class="project--grid-container">
    <div class="project--img">
      <img
        src="https://img.freepik.com/premium-vector/dance-couple-stick-figure-icon-black-ballroom-pictogram-waltz-tango-dancing-man-woman_253081-1330.jpg"
        alt=""
      />
    </div>
    <div class="project--name vertical-center">
      <h4>567 dance!</h4>
    </div>
    <div class="project--description vertical-center">
      <p>Is the ultimate app for practicing latin rhythms.</p>
    </div>
    <div class="project--thumbnail vertical-center">
      <img
        src="https://raulmar.com/assets/projects/567-dance-thumbnail.webp"
        alt=""
      />
    </div>
    <div class="project--buttons vertical-center">
      <button>Demo</button>
      <button>Source code</button>
    </div>
  </div>
  <div class="project--grid-container">
    <div class="project--img">
      <img
        src="https://img.freepik.com/premium-vector/dance-couple-stick-figure-icon-black-ballroom-pictogram-waltz-tango-dancing-man-woman_253081-1330.jpg"
        alt=""
      />
    </div>
    <div class="project--name vertical-center">
      <h4>567 dance!</h4>
    </div>
    <div class="project--description vertical-center">
      <p>Is the ultimate app for practicing latin rhythms.</p>
    </div>
    <div class="project--thumbnail vertical-center">
      <img
        src="https://raulmar.com/assets/projects/567-dance-thumbnail.webp"
        alt=""
      />
    </div>
    <div class="project--buttons vertical-center">
      <button>Demo</button>
      <button>Source code</button>
    </div>
  </div>
</div>
