<div class="bio--grid-container" *ngIf="$bio | async as bio">
  <div class="vertical-center bio--description">
    <p i18n>{{ bio.bio }}</p>
  </div>
  <div class="vertical-center bio--location">
    <span class="bio-span" i18n>📍 {{bio.location}}</span>
  </div>
  <div class="vertical-center bio--url">
    <span class="bio-span">🔗 <a [href]="bio.link">{{bio.link}}</a></span>
  </div>
  <div class="vertical-center bio--experience">
    <span class="bio-span" i18n>🧑‍💻 {{ bio.experience }}</span>
  </div>
</div>
