/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.about-content {
  & h1, p {
    font-family: 'Inter', sans-serif;
  }
  & p {
    font-size: 1.3rem;
  }
  & img {
    width: 90%;
    height: auto;
  }
  & p:has(img) {
    display: flex;
    justify-content: center;
    margin: 2rem 0
  }
}
