/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  --main-bg-color: #fff;
  --main-text-color: #420093;
  --primary-color: #000;
  --secondary-color: #666666;
  --border-color: #d2d2d2;
  --accent-color: #375461;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --letter-spacing-xs: -0.04rem;
  --letter-spacing-sm: -0.025rem;
}

body.dark-theme {
  --main-bg-color: #000;
  --secondary-color: #a9b3b6;
  --border-color: #375461;
  --accent-color: #fff;

}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
}

.vertical-center {
  display: flex;
  align-items: center;
}

.about-content {
  & h1, p {
    font-family: 'Inter', sans-serif;
  }
  & p {
    font-size: 1.3rem;
  }
  & img {
    width: 90%;
    height: auto;
  }
  & p:has(img) {
    display: flex;
    justify-content: center;
    margin: 2rem 0
  }
}
